<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header text-center">
          <h1>
            Buzzitor
          </h1>
          <p>
            Receive desktop notifications after web page changes
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for @context do |f| %>
          <div class="form-group">
            <%= f.url_field :url, class: 'form-control', placeholder: 'http://example.org/' %>
          </div>
          <%= f.submit "Begin monitoring", class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
  <p class="text-center">
    <a href="https://github.com/mpontus/buzzitor">Source code</a>
    &copy; Michael Pontus 2016
  </p>
</div>
